body{
    margin: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

                                            /* heading */
.heading-div{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    justify-content: center;
    display: flex;
    height: 100px;
    font-weight: 1000;
    background-color: black;
}
.heading-div > p{
    color: rgb(255, 255, 255);
    align-content: center;
    margin-top: 25px;
    
}





                                            /* div used to display the score */
.score-div{
    background-color: rgb(136, 215, 242);       
    height: 100px;
    flex:1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.chosen-div{
    height:100px;
    background-color: brown;
}

                                            /*contains the choice div and buttons*/
.box{
    height: 500px;
    background-color:rgb(242, 207, 213);   
    align-content: center; 
}




                            /* below are the styles for buttons */
.button-div{
    gap:20px ;
    background-color: lightgreen;
    display: flex;
    justify-content: center;

}

.choice-btn-rock{
    padding: 5px;
    border-radius: 1000px;
    width:125px;
    height: 125px;
    z-index: 4;
    transition: all 0.3s;
    border: none;
}
.choice-btn-rock:hover{
    margin-top:-7px;
    
}

.choice-btn-paper{
    padding: 5px;
    border-radius: 1000px;
    width:125px;
    height: 125px;
    z-index: 4;
    transition: all 0.3s;
    border: none;
}
.choice-btn-paper:hover{
    margin-top:-7px;
    
}


.choice-btn-scissors{
    padding: 5px;
    border-radius: 1000px;
    width:125px;
    height: 125px;
    z-index: 4;
    transition: all 0.3s;
    border: none;
}
.choice-btn-scissors:hover{
    margin-top:-7px;
    
}




